{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Fight:</h1>
    </div>
    <div class="col-md-4 text-right">
        {{ fight.red.first_name }}{{ fight.red.name }}
    </div>
    <div class="col-md-2 text-right">
        {% if fight.white_point_two %}
        {{ fight.white_point_two }}
        {% endif %}
        {% if fight.white_point_one %}
        {{ fight.white_point_one }}
        {% endif %}
    </div>
    <div class="col-md-2 text-left">
        {% if fight.red_point_one %}
        {{ fight.red_point_one }}
        {% endif %}
        {% if fight.red_point_two %}
        {{ fight.red_point_two }}
        {% endif %}
    </div>
    <div class="col-md-4 text-left">
        {{ fight.white.first_name }} {{ fight.white.name }}
    </div>
</div>
{% endblock %}