{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-11">
        <h2>{{ member.name }}, {{ member.first_name }}</h2>
    </div>
    <div class="col-md-1">
        <h2>
            {% if perms.kader.change_member %}
            <a href="{% url 'edit' member.id %}"><i class="far fa-edit"></i></a>
            {% endif %}
            {% if perms.kader.delete_member %}
            <a href="{% url 'delete' member.id %}"><i class="far fa-trash-alt"></i></a>
            {% endif %}
        </h2>
    </div>
    <div class="col-md-12">
        <table>
            <tr>
                <td class="col-md-3">Birthdate:</td>
                <td>{{ member.birth_date }}</td>
            </tr>
            <tr>
                <td class="col-md-3">Gender:</td>
                <td>{{ member.gender }}</td>
            </tr>
            <tr>
                <td class="col-md-3">Grade:</td>
                <td>{{ member.grade }}</td>
            </tr>
            <tr>
                <td class="col-md-3">Email:</td>
                <td>{{ member.email }}</td>
            </tr>
            <tr>
                <td class="col-md-3">Zekken:</td>
                <td>
                    {% if member.zekken %}
                    <i class="far fa-check-square"></i>
                    {% else %}
                    <i class="far fa-square"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="col-md-3">Jacket:</td>
                <td>
                    {% if member.jacket %}
                    <i class="far fa-check-square"></i>
                    {% else %}
                    <i class="far fa-square"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="col-md-3">Active:</td>
                <td>
                    {% if member.jacket %}
                    <i class="far fa-check-square"></i>
                    {% else %}
                    <i class="far fa-square"></i>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}