{% extends 'layout.html' %}

{% block content %}
<div class="row">
    {% if training %}
    <div class="col-md-12">
        <h3>
            Date: {{ training.date }}
            {% if perms.kader.change_training %}
            <a href="{% url 'training_edit' training.id %}"><i class="far fa-edit"></i></a>
            {% endif %}
            {% if perms.kader.delete_training %}
            <a href="{% url 'training_delete' training.id %}"><i class="far fa-trash-alt"></i></a>
            {% endif %}
            <a href="{% url 'training_csv' training.id %}"><i class="fas fa-download"></i></a>
        </h3>
    </div>
    <div class="col-md-5">
        <h4>
            Attendes
        </h4>
        <table class="table table-striped">
            {% for member in training.attended.all %}
            <tr>
                <td>
                    {{ member.name }} {{ member.first_name }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-7">
        <h4>
            Fights: {% if perms.kader.add_fight %}
            <a href="{% url 'fight_create' training.id %}"><i class="far fa-plus-square"></i></a>
            {% endif %}
        </h4>
        <table class="table table-striped">
            {% for fight in training.fights.all %}
            <tr>
                <td class="col-md-3 text-right">
                    {{ fight.white.first_name }} {{ fight.white.name }}
                </td>
                <td class="col-md-2 text-center">
                    {% if fight.white_point_two %}
                    {{ fight.white_point_two }}
                    {% else %}
                    &nbsp;
                    {% endif %}
                    {% if fight.white_point_one %}
                    {{ fight.white_point_one }}
                    {% else %}
                    &nbsp;
                    {% endif %}
                </td>
                <td class="col-md-2 text-center">
                    {% if fight.red_point_one %}
                    {{ fight.red_point_one }}
                    {% else %}
                    &nbsp;
                    {% endif %}
                    {% if fight.red_point_two %}
                    {{ fight.red_point_two }}
                    {% else %}
                    &nbsp;
                    {% endif %}
                </td>
                <td class="col-md-3 text-left">
                    {{ fight.red.first_name }} {{ fight.red.name }}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No trainings are available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}