{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-11">
        <h1>Members</h1>
    </div>
    <div class="col-md-1">
        {% if perms.kader.add_member %}
        <h1><a href="{% url 'create' %}"><i class="far fa-plus-square"></i></a></h1>
        {% endif %}
    </div>
    <div class="col-md-12">
        {% if members %}
        <table lass="table col-md-12 table-striped">
            <tr>
                <th class="col-md-1">Name</th>
                <th class="col-md-1">Birthdate</th>
                <th class="col-md-1">Gender</th>
                <th class="col-md-1">Grade</th>
                <th class="col-md-1">Email</th>
                <th class="col-md-1">Zekken</th>
                <th class="col-md-1">Jacket</th>
                <th class="col-md-1">Active</th>
                <th class="col-md-1"></th>
            </tr>
            {% for member in members %}
            <tr>
                <td class="col-md-1"><a href="{% url 'detail' member.id %}">{{ member.name }}
                    {{ member.first_name }}</a></td>
                <td class="col-md-1">{{ member.birth_date }}</td>
                <td class="col-md-1">{{ member.gender }}</td>
                <td class="col-md-1">{{ member.grade }}</td>
                <td class="col-md-1">{{ member.email }}</td>
                <td class="col-md-1">
                    {% if member.zekken %}
                    <i class="far fa-check-square"></i>
                    {% else %}
                    <i class="far fa-square"></i>
                    {% endif %}
                </td>
                <td class="col-md-1">
                    {% if member.jacket %}
                    <i class="far fa-check-square"></i>
                    {% else %}
                    <i class="far fa-square"></i>
                    {% endif %}
                </td>
                <td class="col-md-1">
                    {% if member.active %}
                    <i class="far fa-check-square"></i>
                    {% else %}
                    <i class="far fa-square"></i>
                    {% endif %}
                <td>
                    {% if perms.kader.change_member %}
                    <a href="{% url 'edit' member.id %}"><i class="far fa-edit"></i></a>
                    {% endif %}
                    {% if perms.kader.delete_member %}
                    <a href="{% url 'delete' member.id %}"><i class="far fa-trash-alt"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No members are available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}