<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap4 %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% bootstrap_javascript jquery=1%}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">KD Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigationbar"
            aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navigationbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Member</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'attendance_list' %}">Attendance</a>
            </li>
            {% if user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <p class="nav navbar-text">Hello {{ user.username }} -</p>
            </li>
            {% endif %}
            <li class="nav-item">
                {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}" title="Logout">Logout</a>
                {% else %}
                <a class="nav-link" href="{% url 'login' %}" title="Login">Login</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {# Display django.contrib.messages as Bootstrap alerts #}
            {% bootstrap_messages %}
        </div>
    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>